aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in*
config.log
config.status
config.sub
configure
csplugin-events.spec
depcomp
.deps/
eventsctl
install-sh
*.la
.libs/
libtool
*.lo
ltmain.sh
m4/
Makefile
Makefile.in
missing
*.o
stamp-h1
